.main-container
{
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: repeat(6,1fr);
    width:70%;
    margin: auto;
    margin-top: 20px;
    background-color: rgb(252, 249, 249);
    padding: 15px;
}

.user-1
{
    grid-row: 1;
    grid-column: 1;
}
.user-2
{
    grid-row: 3;
    grid-column: 1;
}
.user-3
{
    grid-row: 5;
    grid-column: 1;
}
.user-4
{
    grid-row: 2;
    grid-column: 3;
}
.user-5
{
    grid-row: 4;
    grid-column: 3;
}
.user-6
{
    grid-row: 6;
    grid-column: 3;
}
.user-1, .user-2,.user-3,.user-4,.user-5,.user-6
{
    display: flex;
    justify-content: center;
    align-items: center;
}
img
{
    height: 100px;
    width: 100px;
}
.text1,.text2,.text3,.text4,.text5,.text6
{
    margin: 15px;
    gap:10px;
}
.text1, .text3, .text5
{
    background-color: pink;
    border-radius: 20px 20px 20px 0px;
    padding: 10px;
}
.text2, .text4, .text6
{
    background-color: rgb(56, 151, 215);
    border-radius: 20px 20px 0px 20px;
    padding: 10px;
}
.text1
{
    grid-row: 1;
    grid-column: 2;
}
.text2
{
    grid-row: 2;
    grid-column: 2;
}
.text3
{
    grid-row: 3;
    grid-column: 2;
}
.text4
{
    grid-row: 4;
    grid-column: 2;
}
.text5
{
    grid-row: 5;
    grid-column: 2;
}
.text6
{
    grid-row: 6;
    grid-column: 2;
}
h4,p
{
    margin: 0;
    padding: 0;
}